*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-family: sans-serif;
    box-sizing: border-box;
  
}
/*---------------------------------------------------
TOP NAV_BAR
*/
.section_topbar{
    background-color: #1D9D21;
    height: 6rem;  
    width: 100%;
}
.top_navlink{
    width: 100%;
}
.top_navlink ul{
    list-style-type: none;
    display: flex;
    float:right;
    padding: 1rem 10rem 1rem 1rem;
}
.top_navlink ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: .5rem; 
}
.top_navlink ul li a:hover{
    color: #FFF600;
}

.login{
    width: 100%;
}
.login ul{
    list-style-type: none; 
    float:right;  
}
.login ul a{
    text-decoration: none; 
    color: #ffffff;
}
.section_navbar{
    background-color: #ffffff;
    width: 100%;
}
.navbar{
    display: flex;
    padding: 1rem 5rem 1rem 5rem;
    height: 20%;
    width: 100%;
    align-content: center;
}
.nav_logo{
    flex: 1;
}

.navbar_link ul{
    list-style-type: none;
    display: flex;
    padding: 1rem;
    float: right;
}
.navbar_link ul a{
    text-decoration: none;
    padding: 1rem;
    font-size: .8rem;
    font-weight: bold;
    color:black;
    word-spacing:2px;
}

/*--------------------------------------------------------
  MAIN SECTION
*/

.row{
   display: flex;
    background-color: #F5F5F5;
    justify-content: space-evenly;
    padding: 4rem;
    padding-top: 0;
     
    
}
.col{
    width:33vw;
    height: 600px;
    background-color: #ffffff;
    margin: 20px;
    margin-top: 0;
    border-radius: 5px;
    border: 1px solid;
    border-color:#DDDDDD;
}
.col3{
    width:33vw;
    height: 600px;
    background-color: #FFF600;
    margin: 20px;
    margin-top: 0;
    border-radius: 5px;
    border: 1px solid;
    border-color:#DDDDDD;
}
.row .card1{
    width:417px;
    height: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
    
}
 .row .card2{
    width:417px;
    height: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

  
}
.row .card3{
    width:417px;
    height: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.col ul{
    list-style-type: none;
    padding: 4px;
}
.col ul hr{
    border-style:dotted;
    border-color: #CCCCCC;
    
}
.col ul li{
    padding: 4px;
}
.col ul li a{
    text-decoration: none;
    color:#141415;
    font-size: 1.1rem;
}
.col ul li a:hover{
    color: #1D9D21;
}
